
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form action="Mensagens/enviar" method="post">
        <p>Escreva aqui a sua mensagem</p>
        <br />
        <input type="text" name="mensagem" />
        <br />
        <p>Informe o telefone</p>
        <input type="text" name="telefone" />
        <input type="submit" value="Enviar" />
    </form>
</body>
</html>
